openapi: 3.0.0
info:
  description: >-
    Rockset's REST API allows for creating and managing all resources in
    Rockset. Each supported endpoint is documented below.


    All requests must be authorized with a Rockset API key, which can be created
    in the [Rockset console](https://console.rockset.com). The API key must be
    provided as `ApiKey <api_key>` in the `Authorization` request header. For
    example:

    ```

    Authorization: ApiKey
    aB35kDjg93J5nsf4GjwMeErAVd832F7ad4vhsW1S02kfZiab42sTsfW5Sxt25asT

    ```


    All endpoints are only accessible via https.


    Build something awesome!
  title: REST API
  version: v1
servers:
  - url: "https://api.use1a1.rockset.com/"
paths:
  /v1/orgs/self:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationResponse"
          description: organization retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Organizations
      description: Retrieve information about current organization.
      operationId: getOrganization
      summary: Get Organization
      x-rename: get
  /v1/orgs/self/aliases:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAliasesResponse"
          description: aliases retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Aliases
      description: Retrieve all aliases in an organization
      operationId: listAliases
      summary: List Aliases
      x-rename: list
  /v1/orgs/self/collections:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCollectionsResponse"
          description: collections retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Collections
      description: Retrieve all collections in an organization.
      operationId: listCollections
      summary: List Collections
      x-rename: list
  /v1/orgs/self/integrations:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListIntegrationsResponse"
          description: integrations retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Integrations
      description: List all integrations in an organization.
      operationId: listIntegrations
      summary: List Integrations
      x-rename: list
    post:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateIntegrationResponse"
          description: integration created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Integrations
      description: Create a new integration.
      operationId: createIntegration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIntegrationRequest"
        description: integration credentials
        required: true
      summary: Create Integration
  "/v1/orgs/self/integrations/{integration}":
    delete:
      parameters:
        - description: name of the integration
          in: path
          name: integration
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteIntegrationResponse"
          description: integration deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Integrations
      description: Remove an integration.
      operationId: deleteIntegration
      summary: Delete Integration
      x-rename: delete
    get:
      parameters:
        - description: name of the integration
          in: path
          name: integration
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetIntegrationResponse"
          description: integration retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Integrations
      description: Retrieve information about a single integration.
      operationId: getIntegration
      summary: Retrieve Integration
      x-rename: get
  /v1/orgs/self/lambdas:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListQueryLambdasResponse"
          description: Query Lambdas listed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Query Lambdas
      description: List all Query Lambdas in an organization.
      operationId: listAllQueryLambdas
      summary: List Query Lambdas
  /v1/orgs/self/queries:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListQueriesResponse"
          description: successfully fetched queries
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Queries
      description: Lists actively queued and running queries.
      operationId: listActiveQueries
      summary: List Queries
    post:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResponse"
          description: query executed successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Queries
      description: Make a SQL query to Rockset.
      operationId: query
      requestBody:
        $ref: "#/components/requestBodies/QueryRequest"
      summary: Execute SQL Query
  /v1/orgs/self/queries/validations:
    post:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateQueryResponse"
          description: query validated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Queries
      description: Validate a SQL query with Rockset's parser and planner.
      operationId: validate
      requestBody:
        $ref: "#/components/requestBodies/QueryRequest"
      summary: Validate Query
  "/v1/orgs/self/queries/{queryId}":
    delete:
      parameters:
        - in: path
          name: queryId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelQueryResponse"
          description: Successfully canceled query
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Queries
      description: Attempts to cancel an actively-running query.
      operationId: cancelQuery
      summary: Cancel Query
    get:
      parameters:
        - in: path
          name: queryId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetQueryResponse"
          description: Successfully fetched query info
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Queries
      description: Returns information about a query.
      operationId: getQuery
      summary: Retrieve Query
  "/v1/orgs/self/queries/{queryId}/pages":
    get:
      parameters:
        - in: path
          name: queryId
          required: true
          schema:
            type: string
        - description: "Cursor to current page. If unset, will default to the first page."
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: Number of documents to fetch.
          in: query
          name: docs
          required: false
          schema:
            format: int32
            type: integer
        - description: Offset from the cursor of the first document to be returned
          in: query
          name: offset
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryPaginationResponse"
          description: successfully fetched query results
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Queries
      description: Returns a page of query results.
      operationId: getQueryResults
      summary: Retrieve Query Results Page
  /v1/orgs/self/roles:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRolesResponse"
          description: roles retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Custom Roles
      description: List all roles for your organization.
      operationId: listRoles
      summary: List Roles
      x-rename: list
    post:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResponse"
          description: role created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Custom Roles
      description: Create a role for your organization.
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRoleRequest"
        description: JSON Object
        required: true
      summary: Create a Role
      x-rename: create
  "/v1/orgs/self/roles/{roleName}":
    delete:
      parameters:
        - in: path
          name: roleName
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResponse"
          description: role deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Custom Roles
      description: Delete a role for your organization.
      operationId: deleteRole
      summary: Delete a Role
      x-rename: delete
    get:
      parameters:
        - in: path
          name: roleName
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResponse"
          description: role retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Custom Roles
      description: Retrieve a role by name for your organization.
      operationId: getRole
      summary: Retrieve role
      x-rename: get
    post:
      parameters:
        - in: path
          name: roleName
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResponse"
          description: role updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Custom Roles
      description: Update a role for your organization.
      operationId: updateRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRoleRequest"
        description: JSON Object
        required: true
      summary: Update a Role
      x-rename: update
  /v1/orgs/self/users:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListUsersResponse"
          description: users retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Users
      description: Retrieve all users for an organization.
      operationId: listUsers
      summary: List Users
      x-rename: list
    post:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateUserResponse"
          description: user created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Users
      description: Create a new user for an organization.
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
        description: JSON object
        required: true
      summary: Create User
      x-rename: create
  /v1/orgs/self/users/self:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: user retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Users
      description: Retrieve currently authenticated user.
      operationId: getCurrentUser
      summary: Retrieve Current User
  /v1/orgs/self/users/self/apikeys:
    post:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateApiKeyResponse"
          description: API key created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - API Keys
      description: Create a new API key for the authenticated user.
      operationId: createApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyRequest"
        description: JSON object
        required: true
      summary: Create API Key
      x-rename: create
  /v1/orgs/self/users/self/preferences:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListUnsubscribePreferencesResponse"
          description: Notification preferences retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Users
      description: Get all notification preferences.
      operationId: listUnsubscribePreferences
      summary: Retrieve Notification Preferences
    post:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateUnsubscribePreferencesResponse"
          description: Notification preference created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Users
      description: Update notification preference.
      operationId: updateUnsubscribePreferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUnsubscribePreferencesRequest"
        description: JSON Object
        required: true
      summary: Update Notification Preferences
  "/v1/orgs/self/users/{user}":
    delete:
      parameters:
        - description: user email
          in: path
          name: user
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteUserResponse"
          description: user deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Users
      description: Delete a user from an organization.
      operationId: deleteUser
      summary: Delete User
      x-rename: delete
    get:
      parameters:
        - description: user email
          in: path
          name: user
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: user found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Users
      description: Retrieve user by email.
      operationId: getUser
      summary: Retrieve User
      x-rename: get
    post:
      parameters:
        - description: email of the user to update
          in: path
          name: user
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: user updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Users
      description: Update a user in an organization.
      operationId: updateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
        description: JSON object
        required: true
      summary: Update User
      x-rename: update
  "/v1/orgs/self/users/{user}/apikeys":
    get:
      parameters:
        - description: >-
            Email of the API key owner. Use `self` to specify the currently
            authenticated user.
          example: admin@me.com
          in: path
          name: user
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListApiKeysResponse"
          description: API keys retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - API Keys
      description: List API key metadata for any user in your organization.
      operationId: listApiKeys
      summary: List API Keys
      x-rename: list
  "/v1/orgs/self/users/{user}/apikeys/{name}":
    delete:
      parameters:
        - description: Name of the API key.
          example: my-key
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: >-
            Email of the API key owner. Use `self` to specify the currently
            authenticated user.
          example: admin@me.com
          in: path
          name: user
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteApiKeyResponse"
          description: API key deleted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - API Keys
      description: Delete an API key for any user in your organization.
      operationId: deleteApiKey
      summary: Delete API Key
      x-rename: delete
    get:
      parameters:
        - description: >-
            Email of the API key owner. Use `self` to specify the currently
            authenticated user.
          example: admin@me.com
          in: path
          name: user
          required: true
          schema:
            type: string
        - description: Name of the API key.
          example: my-key
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Reveal full key.
          example: true
          in: query
          name: reveal
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetApiKeyResponse"
          description: API key retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - API Keys
      description: Retrieve a particular API key for any user in your organization.
      operationId: getApiKey
      summary: Retrieve API Key
      x-rename: get
    post:
      parameters:
        - description: Name of the API key.
          example: my-key
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: >-
            Email of the API key owner. Use `self` to specify the currently
            authenticated user.
          example: admin@me.com
          in: path
          name: user
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateApiKeyResponse"
          description: API key successfully updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - API Keys
      description: Update the state of an API key for any user in your organization.
      operationId: updateApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateApiKeyRequest"
        description: JSON object
        required: true
      summary: Update API Key State
      x-rename: update
  /v1/orgs/self/views:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListViewsResponse"
          description: views retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Views
      description: Retrieve all views in an organization
      operationId: listViews
      summary: List Views
      x-rename: list
  /v1/orgs/self/virtualinstances:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVirtualInstancesResponse"
          description: virtual instances retrieved successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not acceptable
        "408":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: request timeout
        "415":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not supported
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: resource exceeded
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: internal error
        "501":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not implemented
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: bad gateway
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorModel"
          description: not ready
      tags:
        - Virtual Instances
      description: Retrieve all virtual instances in an organization.
      operationId: listVirtualInstances
      summary: List Virtual Instances
      x-rename: list
    post:
      responses:
        "200":
          content:
            application/json:
              schema:
[...]
